h1{
    color: violet;
    background-color: aquamarine;
    /* margin-left: 100px; /* izquierda */
    /* margin-right: 200px; derecha */
    /* margin-bottom: 200px; /* abajo 
    margin-top: 200px;  arriba */
    /* margin: 200px 100px; */ /* arriba y abajo */
    margin: 100px 200px 20px 100px; /* arriba, derecha, abajo e izquierda */
   /* PADDIN ES EL COLOR DE RELLENO DE LOS MARGENES */
   padding: 100px;
}
h2{
    color: blue;
    
}

p{
    color: green;
    
}